<section>
  <h2>{{ getFirstDeparture()?.plannedDateTime | date: 'MMMM d, y' }}</h2>
  <div class="planned-track-container">
    <ng-container *ngFor="let departureGroup of getDeparturesByPlatform(); let i = index; trackBy: trackByIndex">
      <div class="planned-track" *ngIf="departureGroup">
        <div class="planned-track-number"><span>{{ i }}</span></div>
        <lok-direction-card
          *ngFor="let departureData of departureGroup; trackBy: trackByIndex"
          [data]="departureData"></lok-direction-card>
        <hr />
      </div>
    </ng-container>
  </div>
</section>

