.planned-track-container {
  @apply md:grid md:grid-rows-6 lg:grid-rows-4 md:grid-flow-col md:gap-4;
}

.planned-track .planned-track-number {
  @apply mb-2 bg-white w-12 h-12 border-4 border-blue-800 flex justify-center items-center;

  span {
    @apply text-blue-800 text-xl;
  }
}

.planned-track + .planned-track {
  @apply mt-4;
}
