<div *ngIf="data" class="direction-container">
  <span class="time">{{ data.plannedDateTime | date:'HH:mm'}}</span>
  <span class="train-category">{{ getLabel(data.trainCategory) }}</span>
  <span class="direction">{{ data.direction }}</span>
</div>
