<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Station</mat-label>
    <input type="text"
           placeholder="Enter name of station or code"
           aria-label="Station"
           matInput
           [formControl]="stationsControl"
           [matAutocomplete]="auto">
    <mat-error *ngIf="stationsControl.hasError('noStations')">
      Station does not exist
    </mat-error>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getNiceTitle">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option.code }} - {{ option.namen.lang}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
