<p class="subtitle">Type in your station:</p>
<section class="autocomplete-container">
  <lok-stations-autocomplete
    (stationSelected)="onStationSelected($event)"
  ></lok-stations-autocomplete>
</section>
<section class="departures-container">
  <lok-track-cards-list
    [departures]="departures$ | async">
  </lok-track-cards-list>
</section>
